@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Helvetica Now Display';
	font-weight: 400;
	src: url('/fonts/HelveticaNowDisplay-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Now Display';
	font-weight: 500;
	src: url('/fonts/HelveticaNowDisplay-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Now Display';
	font-weight: 600;
	src: url('/fonts/HelveticaNowDisplay-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Now Display';
	font-weight: 700;
	src: url('/fonts/HelveticaNowDisplay-Black.otf') format('opentype');
}

@font-face {
	font-family: 'Bhamious';
	src: url('/fonts/Bhamious.ttf') format('truetype');
}

@font-face {
	font-family: 'Pokemon Classic';
	src: url('/fonts/Pokemon Classic.ttf') format('truetype');
}

:root {
	--font-helvetica: 'Helvetica Now Display';
	--font-pixel: 'Pokemon Classic';
	background-color: oklch(20.8% 0.042 265.755);
	background-repeat: repeat;
	background-position: top left;
	background-size: auto;
}

html,
body {
	@apply m-0 min-h-full min-w-full overflow-x-hidden  font-display [&_*]:font-display;

	font-family: 'Helvetica Now Display';
	color: white;
}

@layer utilities {
	.container {
		@apply mx-auto max-w-[1080px] px-5 sm:px-9 2xl:px-0;
	}
}

@media only screen and (max-width: 700px) {
	body .cursor {
		display: 'none';
	}
}
